<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 640px; width: 480px;}
      .infoClass {
        color : black;
        font : 13px bold;
      }
  </style>
  <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
  </script>
</head>
<body>
	<button name = 'crawling_button' id = "crawling_button">update!</button>
  <script>
    $("#crawling_button").click(function() {
     $.ajax({
      type : "GET",
      url : "./",
      success : function(data) {
        console.log(data);
        alert("update!!!");
      }
     }).fail(function() {
      alert('error');
     });
    });
  </script>
	<div id="map"></div>
    <script type="text/javascript">
      var map;
      var infowindowArr = [];

	    function initMap() {
        var dustArr = [];

  		  // initialize google map
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 7,
          center: {lat: 36.141730, lng: 128.098123},
          maxZoom: 13,
          minZoom: 7
        });

        // save data aquired by scraping
        {% for dustInfo in mySet %}
          dustArr.push({"latitude": {{dustInfo.latitude}}, "longitude" : {{dustInfo.longitude}}, "name": '{{dustInfo.name}}', "dust" : '{{dustInfo.dust}}'});
        {% endfor %}

        // idle event listener(in case zoom in or zoom out, or change location)
        map.addListener('idle', function() {
          if (map.getZoom() >= 10) {    
            setTimeout(makeInfoWindow, 800, dustArr);
          }
        });
        // drag event listener(in case change location)
        map.addListener('drag', function() {
          setTimeout(closeInfoWindow, 300);
        });
	    }

      // change text color displayed on infoWindows in map according to the measurement value of fine dust
      function changeColor(){
        var infoArr = [];
        infoArr = document.getElementsByClassName("infoClass");

        for (let i = 0; i < infoArr.length; i++) {
          if (infoArr[i].innerHTML >= 0 && infoArr[i].innerHTML < 31) {
            infoArr[i].style.color = "#0000cc";
          } else if (infoArr[i].innerHTML >= 31 && infoArr[i].innerHTML < 81) {
            infoArr[i].style.color = "#006666";
          } else if (infoArr[i].innerHTML >= 81 && infoArr[i].innerHTML < 121) {
            infoArr[i].style.color = "#ff9900";
          } else if (infoArr[i].innerHTML >= 121 && infoArr[i].innerHTML < 200) {
            infoArr[i].style.color = "#ff3300";
          } else {
            infoArr[i].style.color = "#cc0000";
          }
        }
      }

      // display infoWindows, that include in the range of bounds of map
      function makeInfoWindow(arr) {
        var infowindow;

        closeInfoWindow();

        for (let i = 0; i < arr.length; i++) {
          if (arr[i].latitude > map.getBounds().f.f && 
              arr[i].latitude < map.getBounds().f.b &&
              arr[i].longitude > map.getBounds().b.b &&
              arr[i].longitude < map.getBounds().b.f) {
            infowindow = new google.maps.InfoWindow({
              content: '<div class = "infoClass">' + arr[i].dust + '</div>',
              position: {lat: arr[i].latitude, lng: arr[i].longitude},
              disableAutoPan: true
            });
            infowindowArr.push(infowindow);

            // domready event listner(in case div tags included in DOM)
            infowindow.addListener('domready', function() {
              changeColor();
            });
            infowindow.open(map);           
          }
        }
      }

      // close all InfoWindows displayed in map
      function closeInfoWindow() {
        if (infowindowArr.length !== 0) {  
          infowindowArr.forEach(function(item) {
            item.close();
          });
          infowindowArr = [];
        }
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCsOSPpmnileVyIhwrNpk0FLcvHrWW3zE&callback=initMap">
    </script>
</body>
</html>
